extends layout

block content
  h1= title
  p Welcome to #{title}
  p 你是个什么东西
  <div><div>hfdjg#{title}</div>
  </div>
  <form method="post" action="hello">
  <input type="text" name="name">
  br
  <input type="submit" >
  </form>
  ul
    li.first
      a(href='#') foo
    li
      a(href='#') bar
    li.last
      a(href='#') baz
  .a
    .b 
      #cc
        你喊